<?xml version=”1.0″?>
<!–
/**
* Copyright © 2016 Magento. All rights reserved.
* See COPYING.txt for license details.
*/
–>
<config xmlns:xsi=”http://www.w3.org/2001/XMLSchema-instance&#8221;
xsi:noNamespaceSchemaLocation=”../../../../../../lib/internal/Magento/Framework/App/et
c/routes.xsd”>
<router id=”standard”>
<route id=”ecommerce” frontName=”ecommerce”>
<module name=”Sumit_customForm” />
</route>
</router>
</config>